openapi: "3.0.3"

info:
  title: StellarWork Escrow Contract API
  version: "1.0.0"
  description: |
    Machine-readable specification for all StellarWork escrow smart-contract
    functions, expressed as REST-like endpoints for use with code generators,
    SDK scaffolding, and developer tooling.

    All calls are submitted as Soroban contract invocations against the
    deployed contract address.  Authentication is performed via wallet
    signature (see **Authentication** below).
  contact:
    name: StellarWork
    url: https://github.com/anoncon/Stellar-work-

servers:
  - url: https://soroban-testnet.stellar.org
    description: Testnet RPC
  - url: https://rpc-futurenet.stellar.org
    description: Futurenet RPC
  - url: https://mainnet.stellar.gateway.fm
    description: Mainnet RPC

tags:
  - name: Jobs
    description: Job lifecycle — post, accept, submit, approve, reject, cancel
  - name: Disputes
    description: Dispute creation and resolution
  - name: Fees
    description: Platform fee queries and admin withdrawal
  - name: Admin
    description: Admin-only job views and platform management
  - name: Stats
    description: Platform statistics dashboard
  - name: Access
    description: Blacklist / whitelist access control
  - name: Referrals
    description: Referral codes and earnings
  - name: Tokens
    description: Allowed-token management
  - name: Upgrade
    description: Contract upgrade timelock workflow
  - name: Ownership
    description: Two-step admin ownership transfer

paths:
  /contract/post_job:
    post:
      operationId: postJob
      tags: [Jobs]
      summary: Post a new job
      description: |
        Escrows `amount` tokens from the client's wallet and creates a new job
        in `Open` status.  Requires client wallet signature.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostJobRequest"
      responses:
        "200":
          description: Job ID assigned to the new job
          content:
            application/json:
              schema:
                type: integer
                format: uint64
                example: 42
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/post_job_with_referral:
    post:
      operationId: postJobWithReferral
      tags: [Jobs, Referrals]
      summary: Post a job and attribute to a referrer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/PostJobRequest"
                - type: object
                  required: [referral_code]
                  properties:
                    referral_code:
                      type: string
                      description: Referral code registered by the referrer
      responses:
        "200":
          description: Job ID
          content:
            application/json:
              schema:
                type: integer
                format: uint64
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/accept_job:
    post:
      operationId: acceptJob
      tags: [Jobs]
      summary: Freelancer accepts an open job
      description: Transitions the job from `Open` to `InProgress`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [freelancer, job_id]
              properties:
                freelancer:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Job accepted successfully
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/submit_work:
    post:
      operationId: submitWork
      tags: [Jobs]
      summary: Freelancer submits completed work for review
      description: Transitions the job from `InProgress` to `SubmittedForReview`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [freelancer, job_id]
              properties:
                freelancer:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Work submitted
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/approve_work:
    post:
      operationId: approveWork
      tags: [Jobs]
      summary: Client approves submitted work and releases payment
      description: |
        Transitions the job to `Completed`, deducts the platform fee, and
        transfers the net payout to the freelancer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client, job_id]
              properties:
                client:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Work approved and payment released
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/reject_work:
    post:
      operationId: rejectWork
      tags: [Jobs]
      summary: Client rejects submitted work (revision cycle)
      description: |
        Returns the job to `InProgress` and increments the revision counter.
        Panics once `MAX_REVISIONS` (3) is reached.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client, job_id]
              properties:
                client:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Work rejected, revision requested
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/cancel_job:
    post:
      operationId: cancelJob
      tags: [Jobs]
      summary: Client cancels an open job and receives a full refund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client, job_id]
              properties:
                client:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Job cancelled and escrowed amount refunded
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/freelancer_cancel_job:
    post:
      operationId: freelancerCancelJob
      tags: [Jobs]
      summary: Freelancer cancels an in-progress job (refunds client)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [freelancer, job_id]
              properties:
                freelancer:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Job cancelled and escrowed amount refunded to client
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/enforce_deadline:
    post:
      operationId: enforceDeadline
      tags: [Jobs]
      summary: Client enforces an expired deadline and reclaims funds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client, job_id]
              properties:
                client:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Deadline enforced and funds returned to client
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/mutual_cancel:
    post:
      operationId: mutualCancel
      tags: [Jobs]
      summary: Both parties agree to cancel and split the escrowed amount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client, freelancer, job_id, client_share_bps]
              properties:
                client:
                  $ref: "#/components/schemas/Address"
                freelancer:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
                client_share_bps:
                  type: integer
                  description: Basis-points (0–10 000) awarded to the client
      responses:
        "200":
          description: Job cancelled with agreed split
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/get_job:
    get:
      operationId: getJob
      tags: [Jobs]
      summary: Retrieve a single job by ID
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: integer
            format: uint64
      responses:
        "200":
          description: Job data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/get_job_count:
    get:
      operationId: getJobCount
      tags: [Jobs]
      summary: Total number of jobs posted (ever)
      responses:
        "200":
          description: Total job count
          content:
            application/json:
              schema:
                type: integer
                format: uint64

  /contract/get_jobs_batch:
    get:
      operationId: getJobsBatch
      tags: [Jobs]
      summary: Retrieve a paginated slice of jobs
      parameters:
        - name: start_id
          in: query
          required: true
          schema:
            type: integer
            format: uint64
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            format: uint32
      responses:
        "200":
          description: Array of jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Job"

  /contract/raise_dispute:
    post:
      operationId: raiseDispute
      tags: [Disputes]
      summary: Raise a dispute on an in-progress or submitted job
      description: |
        Requires the caller to deposit the dispute fee (native token).
        Transitions the job to `Disputed`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [caller, job_id]
              properties:
                caller:
                  $ref: "#/components/schemas/Address"
                job_id:
                  type: integer
                  format: uint64
      responses:
        "200":
          description: Dispute raised
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/resolve_dispute:
    post:
      operationId: resolveDispute
      tags: [Disputes, Admin]
      summary: Admin resolves a disputed job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [job_id, resolution]
              properties:
                job_id:
                  type: integer
                  format: uint64
                resolution:
                  $ref: "#/components/schemas/DisputeResolution"
      responses:
        "200":
          description: Dispute resolved and funds distributed
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/batch_resolve_disputes:
    post:
      operationId: batchResolveDisputes
      tags: [Disputes, Admin]
      summary: Resolve up to 20 disputed jobs in a single call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, job_ids, resolutions]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                job_ids:
                  type: array
                  items:
                    type: integer
                    format: uint64
                  maxItems: 20
                resolutions:
                  type: array
                  items:
                    $ref: "#/components/schemas/DisputeResolution"
                  maxItems: 20
      responses:
        "200":
          description: All disputes resolved
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/get_fees:
    get:
      operationId: getFees
      tags: [Fees]
      summary: Accumulated platform fees for a given token
      parameters:
        - name: token
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Fee amount in stroops
          content:
            application/json:
              schema:
                type: integer
                format: int128

  /contract/withdraw_fees:
    post:
      operationId: withdrawFees
      tags: [Fees, Admin]
      summary: Admin withdraws all accrued fees for a token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Fees transferred to admin wallet
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/get_fee_bps:
    get:
      operationId: getFeeBps
      tags: [Fees]
      summary: Current platform fee in basis points
      responses:
        "200":
          description: Fee in basis points (e.g. 250 = 2.5%)
          content:
            application/json:
              schema:
                type: integer
                format: int128

  /contract/get_dashboard_stats:
    post:
      operationId: getDashboardStats
      tags: [Stats, Admin]
      summary: All platform metrics in a single call (SC-81)
      description: |
        Returns aggregated job-status counters, total volume, and accrued fees
        in one contract invocation — avoiding multiple round-trips for dashboards.
        Requires admin authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Platform dashboard statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardStats"
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/admin_get_all_jobs:
    post:
      operationId: adminGetAllJobs
      tags: [Admin]
      summary: Paginated list of all jobs (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, start_index, limit]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                start_index:
                  type: integer
                  format: uint32
                limit:
                  type: integer
                  format: uint32
      responses:
        "200":
          description: Array of jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Job"

  /contract/admin_get_jobs_by_status:
    post:
      operationId: adminGetJobsByStatus
      tags: [Admin]
      summary: Filtered paginated job list by status (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, status, start_index, limit]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                status:
                  $ref: "#/components/schemas/JobStatus"
                start_index:
                  type: integer
                  format: uint32
                limit:
                  type: integer
                  format: uint32
      responses:
        "200":
          description: Filtered array of jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Job"

  /contract/add_to_blacklist:
    post:
      operationId: addToBlacklist
      tags: [Access, Admin]
      summary: Admin blacklists an address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, address]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                address:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Address blacklisted
        "400":
          $ref: "#/components/responses/ContractError"

  /contract/add_to_whitelist:
    post:
      operationId: addToWhitelist
      tags: [Access, Admin]
      summary: Admin whitelists an address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, address]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                address:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Address whitelisted

  /contract/set_whitelist_mode:
    post:
      operationId: setWhitelistMode
      tags: [Access, Admin]
      summary: Enable or disable whitelist-only mode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, enabled]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                enabled:
                  type: boolean
      responses:
        "200":
          description: Whitelist mode updated

  /contract/register_referral:
    post:
      operationId: registerReferral
      tags: [Referrals]
      summary: Register a referral code tied to the caller
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referrer, code]
              properties:
                referrer:
                  $ref: "#/components/schemas/Address"
                code:
                  type: string
      responses:
        "200":
          description: Referral code registered

  /contract/get_referral_earnings:
    get:
      operationId: getReferralEarnings
      tags: [Referrals]
      summary: Accumulated referral earnings for an address
      parameters:
        - name: referrer
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Earnings in stroops
          content:
            application/json:
              schema:
                type: integer
                format: int128

  /contract/add_allowed_token:
    post:
      operationId: addAllowedToken
      tags: [Tokens, Admin]
      summary: Admin adds a token to the allowed-token list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Token allowed

  /contract/propose_upgrade:
    post:
      operationId: proposeUpgrade
      tags: [Upgrade, Admin]
      summary: Admin proposes a contract upgrade (starts 24 h timelock)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, new_wasm_hash]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                new_wasm_hash:
                  type: string
                  description: Hex-encoded 32-byte WASM hash
      responses:
        "200":
          description: Upgrade proposed

  /contract/execute_upgrade:
    post:
      operationId: executeUpgrade
      tags: [Upgrade, Admin]
      summary: Execute a previously proposed upgrade after timelock expiry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Contract upgraded

  /contract/transfer_ownership:
    post:
      operationId: transferOwnership
      tags: [Ownership, Admin]
      summary: Nominate a new admin (step 1 of 2)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin, new_admin]
              properties:
                admin:
                  $ref: "#/components/schemas/Address"
                new_admin:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Transfer initiated

  /contract/accept_ownership:
    post:
      operationId: acceptOwnership
      tags: [Ownership]
      summary: Nominee accepts admin role (step 2 of 2)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_admin]
              properties:
                new_admin:
                  $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: Ownership transferred

components:
  schemas:
    Address:
      type: string
      description: Stellar account or contract address (G… or C… public key)
      example: GAAZI4TCR3TY5OJHCTJC2A4QSY6CJWJH5IAJTGKIN2ER7LBNVKOCCWN

    JobStatus:
      type: string
      enum:
        - Open
        - InProgress
        - SubmittedForReview
        - Completed
        - Cancelled
        - Disputed
      description: Current lifecycle state of a job

    Job:
      type: object
      properties:
        client:
          $ref: "#/components/schemas/Address"
        freelancer:
          oneOf:
            - $ref: "#/components/schemas/Address"
            - type: "null"
        amount:
          type: integer
          format: int128
          description: Escrowed amount in stroops
        description_hash:
          type: string
          description: 32-byte SHA-256 hash of the job description (hex)
        status:
          $ref: "#/components/schemas/JobStatus"
        created_at:
          type: integer
          format: uint64
          description: Unix timestamp of job creation
        deadline:
          type: integer
          format: uint64
          description: Unix timestamp deadline (0 means no deadline)
        token:
          $ref: "#/components/schemas/Address"
        revision_count:
          type: integer
          format: uint32

    DisputeResolution:
      type: object
      required: [client_bps]
      properties:
        client_bps:
          type: integer
          format: uint32
          minimum: 0
          maximum: 10000
          description: |
            Basis-points share awarded to the client (0–10 000).
            Remainder goes to the freelancer after the platform fee.

    DashboardStats:
      type: object
      description: All platform metrics returned in a single call (SC-81)
      properties:
        total_jobs:
          type: integer
          format: uint64
        open_jobs:
          type: integer
          format: uint64
        active_jobs:
          type: integer
          format: uint64
          description: InProgress + SubmittedForReview
        completed_jobs:
          type: integer
          format: uint64
        cancelled_jobs:
          type: integer
          format: uint64
        disputed_jobs:
          type: integer
          format: uint64
        total_fees_accrued:
          type: integer
          format: int128
          description: Native-token fees accrued (stroops)
        total_volume:
          type: integer
          format: int128
          description: Sum of all job amounts ever posted (stroops)

    PostJobRequest:
      type: object
      required: [client, amount, desc_hash, description_payload_len, deadline, token]
      properties:
        client:
          $ref: "#/components/schemas/Address"
        amount:
          type: integer
          format: int128
          description: Amount to escrow in stroops (must be > 0)
        desc_hash:
          type: string
          description: 32-byte SHA-256 hash of the job description (hex)
        description_payload_len:
          type: integer
          format: uint32
          description: Byte length of the description payload stored off-chain
        deadline:
          type: integer
          format: uint64
          description: Unix timestamp deadline (0 = no deadline)
        token:
          $ref: "#/components/schemas/Address"

    ErrorCode:
      type: integer
      format: uint32
      description: |
        Contract error codes returned on failure:
        - 1  JobNotFound
        - 2  Unauthorized
        - 3  InvalidStatus
        - 4  InsufficientFunds
        - 5  JobAlreadyAccepted
        - 6  DeadlinePassed
        - 7  DeadlineNotExpired
        - 8  TokenNotAllowed
        - 9  FeeTooHigh
        - 10 AlreadyInitialized
        - 11 InvalidAmount
        - 12 InvalidDescriptionHash
        - 13 UnauthorizedAdmin
        - 14 InvalidDeadline
        - 15 ActiveJobLimitExceeded
        - 16 RevisionLimitReached
        - 17 DescriptionPayloadTooLarge
        - 18 UpgradeNotApproved
        - 19 UpgradeTimelockPending
        - 20 NoPendingUpgrade
        - 21 ReferralCodeAlreadyExists
        - 22 ReferralCodeNotFound
        - 23 InsufficientReferralEarnings
        - 24 BlacklistedUser
        - 25 NotWhitelisted
        - 26 SelfReferralNotAllowed
        - 31 BatchSizeMismatch
        - 32 BatchTooLarge

  responses:
    ContractError:
      description: Contract-level error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Human-readable error description
              code:
                $ref: "#/components/schemas/ErrorCode"

  securitySchemes:
    WalletSignature:
      type: apiKey
      in: header
      name: X-Wallet-Signature
      description: |
        All mutating contract calls must include a valid Stellar transaction
        envelope signed by the relevant party's private key.  The Soroban RPC
        validates the signature; no bearer token is exchanged with a server.

security:
  - WalletSignature: []
